@using DoAnCuoiKy.Models
@model  List<SanPham>

@{
    int iDem = 0;
    int iSLSanPhamTrenTrang = 6;
    int iTrang = 1;

}

<div class="container mb-5">
    <div class="row">
        <div col-sm-4>
            <input name="MaLoaiSP" id="MaLoaiSP" value="@ViewBag.MaLoaiSP" type="hidden" />
            <div class="container">
                <div class="row">
                    <div class="col-8">
                        <input type="hidden" name="MaLoaiSP" value="@ViewBag.MaLoaiSP" />
                    </div>
                    <div class="col-4">
                        <select id="selectSort" name="selectSort">
                            <option>Chọn Phương Thức Sắp Xếp</option>
                            <option value="1">Giá Tăng Dần</option>
                            <option value="2">Giá Giảm Dần</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="col-md-12 product1">
    <div class="bottom-product">
        @foreach (var item in Model)
        {
                if (iDem % iSLSanPhamTrenTrang == 0 && iDem != 0)
                {
                    iTrang++;
                }
                iDem++;
            <div class="@Url.Content("col-md-4 bottom-cd simpleCart_shelfItem Trang"+iTrang.ToString())">
                <div class="product-at ">
                    <a href="@Url.RouteUrl("XemChiTiet", new { @id = item.MaSP, @tensp = item.TenSP })">
                        <img class="img-responsive" src="@Url.Content("~/Content/HinhAnhSP/"+item.HinhAnh)" alt="" style="width:150px;height:150px;">
                        <div class="pro-grid">                 
                        </div>
                    </a>
                </div>
                <p class="tun">@item.TenSP</p>
                @*Thẻ a nút thêm*@
                <a class="item_add"><p class="number item_price" style="margin-bottom:10px"><i> </i>Giá: @item.DonGia.Value.ToString("#,##")</p></a>
                <div class="text-center">
                    @*Thêm giỏ hàng ajax*@
                    @Ajax.ActionLink("Đặt Hàng", "ThemGioHangAjax", "GioHang", new { @MaSP = item.MaSP, @strURL = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, new { @class = "btn btn-primary text-center, display-block mt-2" })
                </div>

            </div>
        }
        <div class="clearfix"> </div>
    </div>
    <div class="Trang">
        <ul class="pagination">
            <li class="active" id="firstpage"><a class="linkTrang" data-sotrang="@Url.Content("Trang"+1)">1</a></li>
            @for (int i = 2; i <= iTrang; i++)
            {
                <li><a class="linkTrang" data-sotrang="@Url.Content("Trang"+i)">@i</a></li>
            }
        </ul>
    </div>  
</div>

<style>
    @@media only screen and (max-width: 600px) {
        p.tun {
            height: 70px;
        }
    }
    .simpleCart_shelfItem {
        display: none;
    }

    .Trang1 {
        display: block;
    }
</style>

<script>
    $('.linkTrang').click(function () {
        $("#firstpage").removeClass("active");
        $(".simpleCart_shelfItem").hide();

        var soTrang = $(this).attr("data-sotrang");


        $("."+soTrang).show();

    });

    $(".btnThemGioHang").click(function () {
        var maSP = $(this).attr("data-masp");

        $.ajax({
            type: 'GET',
            data: {
                MaSP: maSP
            },
            url: '@Url.Action("ThemGioHangAjax","GioHang")',
            success: function (ketqua) {

                $('#divGioHang').html(ketqua);
            }
        });
    })

    $("#selectSort").change(function () {
        var select = $("#selectSort option:selected").val();
        var MaLoaiSP = $("#MaLoaiSP").val();

        $.ajax({
            url: '@Url.Action("SapXepTheoMaNSX", "SanPham")',

            data: {
                selectSort: select,
                MaLoaiSP: MaLoaiSP
            }

        }).done(function (data) {
            console.log(data);
            $("#kq").html(data);
        })
         .fail(function () {
             alert("error");
         })
    })
</script>
