<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="@Url.Action("Index","ThongKe")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","QuanLySanPham")" class="nav-link" style="color:white;">Quản Lý Sản Phẩm</a>
    </li>
    
    <li class="nav-item">         
        <a href="@Url.Action("Index","QuanLyDonHang")" class="nav-link" style="color:white;">Quản Lý Đơn Hàng</a>
    </li>

    <li class="nav-item">
        <a href="@Url.Action("Index","QuanLyPhieuNhap")" class="nav-link" style="color:white;">Quản Lý Phiếu Nhập</a>
    </li>

    <li class="nav-item">
        <a href="@Url.Action("Index","Quyen")" class="nav-link" style="color:white;">Quản Lý Quyền</a>
    </li>

    <li class="nav-item">
        <a href="@Url.Action("Index","PhanQuyen")" class="nav-link" style="color:white;">Phân Quyền</a>
    </li>

    <li class="nav-item">
        <a href="@Url.Action("Index","ThongKe")" class="nav-link" style="color:white;">Thống Kê</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","NhaCungCap")" class="nav-link" style="color:white;">Nhà Cung Cấp</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","NhaSanXuat")" class="nav-link" style="color:white;">Nhà Sản Xuất</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","QuanLyLoaiThanhVien")" class="nav-link" style="color:white;">Quản Lý Loại Thành Viên</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","QuanLyThanhVien")" class="nav-link" style="color:white;">Quản Lý Thành Viên</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","QuanLyKhachHang")" class="nav-link" style="color:white;">Quản Lý Khách Hàng</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","Contact")" class="nav-link" style="color:white;">Quản Lý Góp Ý</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","BinhLuan")" class="nav-link" style="color:white;">Quản Lý Bình Luận</a>
    </li>
    <li class="nav-item">
        <a href="@Url.Action("Index","Traloi")" class="nav-link" style="color:white;">Quản Lý Trả Lời</a>
    </li>
</ul>
