@using DoAnCuoiKy.Models
@model List<BannerInfo>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/admin/Views/Shared/AdminLayout.cshtml";
}

<div class="container-fluid">
    <h1 class="h3 mb-2 text-gray-800 text-center">Danh Sách Banner</h1>
    @if (Session["deleteBanner"] != null)
    {
        <div class="text-info">@Session["deleteBanner"]</div>
    }
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            @Html.ActionLink("Thêm Banner", "Create", "Banner", new { @class = "btn btn-primary float-right" })
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tiêu Đề</th>
                            <th>Nội Dung</th>
                            <th>Sửa</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>                               
                                <td>
                                    @item.BannerTitle
                                </td>
                                <td>@item.BannerContent</td>
                                <td>
                                    @Html.ActionLink("Sửa", "Edit", "Banner", new { @id = item.id }, new { @class = "nav-link" })
                                </td>

                                <td>
                                    @Html.ActionLink("Xóa", "Delete", "Banner", new { @id = item.id }, new { @class = "nav-link" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


